<html>
	<head>
		<title>just2</title>
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">		
		<link rel="stylesheet" href="../scripts/css/home.css">
		<link href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
		<!-- <link rel="stylesheet" href="../bootstrap/css/bootstrap-theme.min.css"> -->
		<script src="../bootstrap/js/bootstrap.min.js" rel="stylesheet" media="screen"></script>
	</head>
	<body>
		<nav class="navbar navbar-default" role="navigation">
		  <!-- Brand and toggle get grouped for better mobile display -->
		  <div class="navbar-header">
		    <a class="navbar-brand" href="home.html">just2</a>
		  </div>

		  <!-- Collect the nav links, forms, and other content for toggling -->
		  <div class="collapse navbar-collapse navbar-ex1-collapse navbar-right">
		    <ul class="nav navbar-nav">
		      <li><a href="home.html">Home</a></li>
		      <li class="active"><a href="game.html">Play</a></li>
		      <li><a href="inbox.html">Messages<span class="badge badge-messages">0</span></a></li>
		    </ul>
		    <ul class="nav navbar-nav navbar-right">
		      <li class="dropdown">
		        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-cog"></span> <b class="caret"></b></a>
		        <ul class="dropdown-menu">
		          <li><a href="#">Edit profile</a></li>
		          <li><a href="#">Help</a></li>
		          <li><a href="#">Settings</a></li>
		          <li><a href="index.html">Signout</a></li>
		        </ul>
		      </li>
		    </ul>
		  </div>
		</nav>

		<div class="main">
			<div class="container">
				<div class="row" id="content">
					<div class="col-lg-5">	
						<div class="row">
							<div class="well well-sm col-lg-6 profile-pic">
								<a href="#" class="thumbnail">
									<img src="../scripts/images/erica.jpg" alt="">
								</a>
							</div>

							<div class="col-lg-6">
								<div class="col-lg-10 profile-detail">
									<legend>Erica</legend>
								</div>
								<div class="col-lg-10 profile-detail">
									<legend>25</legend>
								</div>
								<div class="col-lg-10 profile-detail">
									<legend>Accra</legend>
								</div>
							</div>
						</div>

						<div class="stats">
							<ul class="nav nav-pills">
								<li><a href="answers.html">Answers	<span class="badge">0</span></a></li>
								<li><a href="questions.html">Questions<span class="badge">0</span></a></li>
								<li><a href="following.html">Following<span class="badge">0</span></a></li>				
								<li class="active"><a href="followers.html">Followed<span class="badge">0</span></a></li>
							</ul>
						</div>

							<div class="row trending">
							<legend >trending questions</legend>
							<div class="well well-sm">
								<div class="row">
									<div class="col-lg-8">
										<input type="text" disabled value="What do you normally do on holidays?" class="form-control">
									</div>
									<div class="col-lg-4 pull-right">
										<div class="row">
											<div class="col-lg-6  pull-left btn-action btn-trending btn-cancel">
								              <button class="btn btn-default "><a href="index.html">Skip</a></button> 
											</div>
											<div class="col-lg-6 pull-left btn-submit">
								              <button type="submit" class="btn btn-action btn-trending btn-default submit"><a href="home.html">Ans</a></button> 
											</div>
										</div>	
									</div>
								</div>
							</div>
						</div>

					</div>
					<div class="col-lg-6 col-lg-offset-1">
						<div class="row">
							<legend >my followers ...</legend>	
						</div>
					</div>
				</div>
			</div>
		</div>

	    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	    <script src="../jQuery/jquery-2.0.3.min.js"></script>
	    <!-- Include all compiled plugins (below), or include individual files as needed -->
	    <script src="../bootstrap/js/bootstrap.min.js"></script>
	    <script src="../scripts/js/home.js"></script>
	    <script type="text/javascript">
	    	// $("#new-q").popover();
	    </script>
	</body>
</html>

