<html>
	<head>
		<title>just2</title>
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">		
		<link rel="stylesheet" href="../scripts/css/home.css">		
		<link rel="stylesheet" href="../scripts/css/round3.css">	
		<link href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
		<!-- <link rel="stylesheet" href="../bootstrap/css/bootstrap-theme.min.css"> -->
		<script src="../bootstrap/js/bootstrap.min.js" rel="stylesheet" media="screen"></script>
	</head>
	<body>
		<nav class="navbar navbar-default" role="navigation">
		  <!-- Brand and toggle get grouped for better mobile display -->
		  <div class="navbar-header">
		    <a class="navbar-brand" href="home.html">just2</a>
		  </div>

		  <!-- Collect the nav links, forms, and other content for toggling -->
		  <div class="collapse navbar-collapse navbar-ex1-collapse navbar-right">
		    <ul class="nav navbar-nav">
		      <li class="active"><a href="home.html">Home</a></li>
		      <li><a href="game.html">Play</a></li>
		      <li><a href="inbox.html">Messages <span class="badge badge-messages">0</span></a></li>
		    </ul>
		    <ul class="nav navbar-nav navbar-right">
		      <li class="dropdown">
		        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-cog"></span> <b class="caret"></b></a>
		        <ul class="dropdown-menu">
		          <li><a href="#">Edit profile</a></li>
		          <li><a href="#">Help</a></li>
		          <li><a href="#">Settings</a></li>
		          <li><a href="index.html">Signout</a></li>
		        </ul>
		      </li>
		    </ul>
		  </div>
		</nav>

		<div class="main">
			<div class="container">
				<div class="row" id="content">
					<div class="col-lg-5">	
						<div class="row">
							<div class="well well-sm col-lg-6 profile-pic">
								<a href="#" class="thumbnail">
									<img src="http://images.fineartamerica.com/images-medium-large-5/ebony-lady-with-blue-bracelets-thomas-panholzer.jpg" alt="">
								</a>
							</div>

							<div class="col-lg-6">
								<div class="col-lg-10 profile-detail">
									<legend>Erica</legend>
								</div>
								<div class="col-lg-10 profile-detail">
									<legend>24</legend>
								</div>
								<div class="col-lg-10 profile-detail">
									<legend>New York</legend>
								</div>
							</div>
						</div>

						<div class="stats">
							<ul class="nav nav-pills">
								<li><a href="answers.html">Answers	<span class="badge">0</span></a></li>
								<li><a href="questions.html">Questions<span class="badge">0</span></a></li>
								<li><a href="following.html">Following<span class="badge badge-following">0</span></a></li>								
								<li><a href="followers.html">Followed<span class="badge">0</span></a></li>
							</ul>
						</div>

						<div class="row trending">
							<legend >trending questions</legend>
							<div class="well well-sm">
								<div class="row">
									<div class="col-lg-8">
										<input type="text" disabled value="What do you normally do on holidays?" class="form-control">
									</div>
									<div class="col-lg-4">
										<div class="row">
											<div class="col-lg-6  pull-left btn-action btn-cancel">
								              <button class="btn btn-primary "><a href="index.html">Skip</a></button> 
											</div>
											<div class="col-lg-6 pull-left btn-submit">
								              <button type="submit" class="btn btn-success submit"><a href="home.html">Ans</a></button> 
											</div>
										</div>	
									</div>
								</div>
							</div>

							<div class="well well-sm">
								<div class="row">
									<div class="col-lg-8">
										<input type="text" disabled value="What do you normally do on holidays?" class="form-control">
									</div>
									<div class="col-lg-4 pull-right">
										<div class="row">
											<div class="col-lg-6  pull-left btn-action btn-cancel">
								              <button class="btn btn-primary "><a href="index.html">Skip</a></button> 
											</div>
											<div class="col-lg-6 pull-left btn-submit">
								              <button type="submit" class="btn btn-success submit"><a href="home.html">Ans</a></button> 
											</div>
										</div>	
									</div>
								</div>
							</div>
						</div>


					</div>
					<div class="col-lg-6 col-lg-offset-1">
						<div class="row">
							<legend>Current game <span class="badge pull-right">Final Round</span></legend>
						</div>

						<div class="panel-group" id="accordion">
						  <div class="panel panel-default first">
						    <div class="panel-heading">
						      <h4 class="panel-title">
						        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
						          #Elorm
						        </a>
						      </h4>
						    </div>
						    <div id="collapseOne" class="panel-collapse collapse">
						      <div class="panel-body">
						      	<div class="col-lg-12 col-lg-offset-0">
						      		<legend  class="question-legend">What Has Been The Greatest Disappointment In Your Life?</legend>
						      		<div class="answer">
										Futurist Techpreneur in love with all things tech and Africa....especially mobile & Nigeria!
										<span class="glyphicon glyphicon-thumbs-up" data-panel="first"  data-question="one"></span>
										<!-- <span class="glyphicon glyphicon-thumbs-down" data-panel="first"  data-question="one"></span> -->
									</div>
						      	</div>
						      	<div class="col-lg-12 col-lg-offset-0">
						      		<legend class="question-legend">
						      			How do you know when to end a friendship?
									</legend>
						      		<div class="answer">
										Futurist Techpreneur in love with all things tech and Africa....especially mobile & Nigeria!
										<span class="glyphicon glyphicon-thumbs-up" data-panel="first"  data-question="two"></span>
										<!-- <span class="glyphicon glyphicon-thumbs-down" data-panel="first"  data-question="two"></span> -->
									</div>
									<div class="row">
							          <div class="col-lg-12">
							            <div class="" style="margin-left:80%;">
							              <span class="label label-primary answer-action answer-action-burn" data-panel="first" data-toggle="tooltip" data-placement="left" title="" data-original-title="Burn">
							              	<span class="glyphicon glyphicon-fire"></span>
							              </span> 
							              <span class="label label-success answer-action answer-action-proceed" data-panel="first" data-toggle="tooltip" data-placement="top" title="" data-original-title="Proceed">
								              	<span class="glyphicon glyphicon-ok"></span>
								          </span>
							              <span class="label label-warning answer-action answer-action-follow" data-panel="first" data-toggle="tooltip" data-placement="top" title="" data-original-title="Follow">
								              	<span class="glyphicon glyphicon-heart"></span>
								          </span>
							            </div>
							          </div>
							        </div>
						      	</div>
						      </div>
						    </div>
						  </div>
						  <div class="panel panel-primary second">
						    <div class="panel-heading">
						      <h4 class="panel-title">
						        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
						          #Jojo
						        </a>
						      </h4>
						    </div>
						    <div id="collapseTwo" class="panel-collapse collapse">
						      <div class="panel-body">
						      	<div class="col-lg-12 col-lg-offset-0">
						      		<legend  class="question-legend">What Has Been The Greatest Disappointment In Your Life?</legend>
						      		<div class="answer">
										Futurist Techpreneur in love with all things tech and Africa....especially mobile & Nigeria!
										<span class="glyphicon glyphicon-thumbs-up" data-panel="second"  data-question="one"></span>
										<!-- <span class="glyphicon glyphicon-thumbs-down" data-panel="second"  data-question="one"></span> -->
									</div>
						      	</div>
						      	<div class="col-lg-12 col-lg-offset-0">
						      		<legend class="question-legend">
						      			How do you know when to end a friendship?
									</legend>
						      		<div class="answer">
										Futurist Techpreneur in love with all things tech and Africa....especially mobile & Nigeria!
										<span class="glyphicon glyphicon-thumbs-up" data-panel="second"  data-question="two"></span>
										<!-- <span class="glyphicon glyphicon-thumbs-down" data-panel="second"  data-question="two"></span> -->
									</div>
									<div class="row">
							          <div class="col-lg-12">
							            <div class="" style="margin-left:80%;">
							              <span class="label label-primary answer-action" data-toggle="tooltip" data-panel="second" data-placement="left" title="" data-original-title="Burn">
							              	<span class="glyphicon glyphicon-fire"></span>
							              </span> 
							              <span class="label label-success answer-action" data-toggle="tooltip" data-panel="second" data-placement="top" title="" data-original-title="Proceed">
								              	<span class="glyphicon glyphicon-ok"></span>
								          </span>
							              <span class="label label-warning answer-action" data-toggle="tooltip" data-panel="second" data-placement="top" title="" data-original-title="Follow">
								              	<span class="glyphicon glyphicon-heart"></span>
								          </span>
							            </div>
							          </div>
							        </div>
						      	</div>
						      </div>
						    </div>
						  </div>
						  <div class="panel panel-default fourth">
						    <div class="panel-heading">
						      <h4 class="panel-title">
						        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
						          #Mike
						        </a>
						      </h4>
						    </div>
						    <div id="collapseFour" class="panel-collapse collapse">
						      <div class="panel-body">
						      	<div class="col-lg-12 col-lg-offset-0">
						      		<legend  class="question-legend">What Has Been The Greatest Disappointment In Your Life?</legend>
						      		<div class="answer">
										Futurist Techpreneur in love with all things tech and Africa....especially mobile & Nigeria!
										<span class="glyphicon glyphicon-thumbs-up" data-panel="fourth"  data-question="one"></span>
										<!-- <span class="glyphicon glyphicon-thumbs-down" data-panel="fourth"  data-question="one"></span> -->
									</div>
						      	</div>
						      	<div class="col-lg-12 col-lg-offset-0">
						      		<legend class="question-legend">
						      			How do you know when to end a friendship?
									</legend>
						      		<div class="answer">
										Futurist Techpreneur in love with all things tech and Africa....especially mobile & Nigeria!
										<span class="glyphicon glyphicon-thumbs-up" data-panel="fourth"  data-question="two"></span>
										<!-- <span class="glyphicon glyphicon-thumbs-down" data-panel="fourth"  data-question="two"></span> -->
									</div>
									<div class="row">
							          <div class="col-lg-12">
							            <div class="" style="margin-left:80%;">
							              <span class="label label-primary answer-action" data-toggle="tooltip" data-panel="fourth" data-placement="left" title="" data-original-title="Burn">
							              	<span class="glyphicon glyphicon-fire"></span>
							              </span> 
							              <span class="label label-success answer-action" data-toggle="tooltip" data-panel="fourth" data-placement="top" title="" data-original-title="Proceed">
								              	<span class="glyphicon glyphicon-ok"></span>
								          </span>
							              <span class="label label-warning answer-action" data-toggle="tooltip" data-panel="fourth" data-placement="top" title="" data-original-title="Follow">
								              	<span class="glyphicon glyphicon-heart"></span>
								          </span>
							            </div>
							          </div>
							        </div>
						      	</div>
						      </div>
						    </div>
						  </div>
						</div>
						
						<div class="row">
							<div class="col-lg-12 answer">
								<div class="new-game">
							      <form class="form-horizontal">
							        <fieldset>
							          <div class="form-group">
							            <div class="col-lg-10 col-lg-offset-3">
							              <button class="btn btn-primary"><a class="cancel" href="game.html">Restart game</a></button> 
							              <button type="submit" class="btn btn-success submit"><a data-toggle="modal" href="#myModal">Ask guru</a></button> 
							              <button type="submit" class="btn btn-default submit"><a href="round3.html" style="color:#000">Ask friends	</a></button> 
							            </div>
							          </div>
							        </fieldset>
							      </form>
							    </div>
							</div>
						</div>

						  <!-- Modal -->
						  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						    <div class="modal-dialog">
						      <div class="modal-content">
						        <div class="modal-header">
						          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						          <h4 class="modal-title">Modal title</h4>
						        </div>
						        <div class="modal-body">
						        	<div class="row">
					        		    <div class="col-lg-4">
							        		<div class="well">Hello</div>
							        	</div>
							        	<div class="col-lg-4">
							        		<div class="well">Hello</div>
							        	</div>
							        	<div class="col-lg-4">
							        		<div class="well">Hello</div>
							        	</div>
						        	</div>    
						        </div>
						        <div class="modal-footer">
						          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						          <button type="button" class="btn btn-primary">Save changes</button>
						        </div>
						      </div><!-- /.modal-content -->
						    </div><!-- /.modal-dialog -->
						  </div><!-- /.modal -->
					</div>
				</div>
			</div>
		</div>

	    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	    <script src="http://code.jquery.com/jquery.js"></script>
	    <!-- Include all compiled plugins (below), or include individual files as needed -->
	    <script src="../bootstrap/js/bootstrap.min.js"></script>
	    <script src="../scripts/js/round3.js"></script>    
	    <script type="text/javascript">
	    	// $("#new-q").popover();
	    </script>
	</body>
</html>

